extends layout 

block content 
  h1
    a(href="/books")= title  

  include format-errors

  form(action=`/books/book-${book.id}` method="post")
    p 
      label(for="title") Title  
      input(type="text" name="title" onclick="this.select();" id="title" value=book.title) 
    p 
      label(for="author") Author  
      input(type="text" name="author" onclick="this.select();" id="author" value=book.author) 
    p 
      label(for="genre") Genre  
      input(type="text" name="genre" onclick="this.select();" id="genre" value=book.genre) 
    p 
      label(for="year") Year  
      input(type="text" name="year" onclick="this.select();" id="year" value=book.year) 
    p  
      input(type="submit", value="Update Book")
  form(action=`/books/book-${book.id}/delete` method="post" onSubmit={})
    p 
      a.button(href="/books") Cancel 
    p 
      input(type="submit", value="Delete Book")  